:root {
  --total-rows: 16;
  --total-columns: var(--total-rows);
}

#container {
  display: grid;
  width: 750px;
  height:750px;
  grid-template-rows: repeat(var(--total-rows), auto);
  grid-template-columns: repeat(var(--total-columns), auto);
  grid-gap: 5px;
}

.square {
  border: 1px solid black;
  border-radius: 5px;
}

.colored {
  background-color: black;
}
